<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cierre</title>
    <link rel="stylesheet" href="../../static/public/menu.css">
    <link rel="stylesheet" href="../../static/public/tablas.css">
</head>
<body>
    <div class="menu">
        <nav>
            <ul>
                <li><a href="">Burritos el cuate</a><img src="../../static/public/burrito-removebg-preview.png" alt=""></li>
                <li><a href="http://127.0.0.1:5000/empleado/orden">Orden</a></li>
                <li><a href="http://127.0.0.1:5000/empleado/cierre">Corte</a></li>
                <li><a href="http://127.0.0.1:5000/empleado/detalleOrden">Pedidos</a></li>
                <li><a href="http://127.0.0.1:5000/sesion">Salir</a></li>
            </ul>
        </nav>
    </div>
    
    <table>
        <tr>
            <th>No de ordenes</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Total orden</th>
        </tr>
       
    </table>
    <h2 id="totalSuma">Total de Ordenes: $0</h2>
    <script src="../../static/empleado/cierre.js"></script>
    
</body>
</html>