<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles orden</title>
    <link rel="stylesheet" href="../../static/public/menu.css">
    <link rel="stylesheet" href="../../static/public/tablas.css">
   <!-- <link rel="stylesheet" href="styles/detalleOrden.css">-->
</head>
<body>
    <div class="menu">
        <nav>
            <ul>
                <li><a href="">Burritos el cuate</a> <img src="../../static/public/burrito-removebg-preview.png" alt=""></li>
                <li><a href="http://127.0.0.1:5000/empleado/orden">Orden</a></li>
                <li><a href="http://127.0.0.1:5000/empleado/cierre">Corte</a></li>
                <li><a href="http://127.0.0.1:5000/empleado/detalleOrden">Pedidos</a></li>
                <li><a href="http://127.0.0.1:5000/sesion">Salir</a></li>
            </ul>
        </nav>
    </div>

   
    <table>
        <tr>
            <th>No Orden</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Estado</th>
        </tr>
        
    </table>
    <!--
    <div class="principal">
        <header>
            <h1>Detalles orden No:</h1>
            <p></p>
        </header>
        <section class="detalles">
            <h3>Burritos: </h3>
            <ul>

            </ul>
            <h3>Refrescos:</h3>
            <ul>

            </ul>
            <h3>Extras:</h3>
            <ul>
            </ul>

            <h3>Datos cliente:</h3>
            <ul>

            </ul>

            <div class="botones">
                <button>Imprimir</button>
                <button><a href="http://127.0.0.1:5000/empleado/orden">Regresar</a></button>
            </div>
        </section>


    </div>-->
    <script src="../../static/empleado/detalleOrden.js"></script>
</body>
</html>