<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orden</title>
    <link rel="stylesheet" href="../../static/public/menu.css">
    <link rel="stylesheet" href="../../static/empleado/orden.css">
</head>
<body>
    <div class="menu">
        <nav>
            <ul>
                <li><a href="">Burritos el cuate</a> <img src="../../static/public/burrito-removebg-preview.png" alt=""></li>
                <li><a href="http://127.0.0.1:5000/empleado/orden">Orden</a></li>
                <li><a href="http://127.0.0.1:5000/empleado/cierre">Corte</a></li>
                <li><a href="http://127.0.0.1:5000/empleado/detalleOrden">Pedidos</a></li>
                <li><a href="http://127.0.0.1:5000/sesion">Salir</a></li>
            </ul>
        </nav>

    </div>

    <div class="principal">
        <h1>Numero de orden</h1>
        <h3></h3>

        <form action="">
                <h2>Burritos</h2>
                <div class="burritos">
                    <div class= "burrito">
                        <h3>Asada</h3>
                        <img src="../../static/public/burritos/asada.png" alt="imagen burrito">
                        <input type="number" placeholder="0" required id="asada">
                    </div>
                    <div class= "burrito">
                        <h3>Barbacoa</h3>
                        <img src="../../static/public/burritos/barbacoa.png" alt="imagen burrito">
                        <input type="number" placeholder="0" required id="barbacoa">
                    </div>
                    <div class= "burrito">
                        <h3>Chicharron</h3>
                        <img src="../../static/public/burritos/chicharron.png" alt="imagen burrito">
                        <input type="number" placeholder="0" required id="chicharron">
                    </div>
                    <div class= "burrito">
                        <h3>Deshebrada rojo</h3>
                        <img src="../../static/public/burritos/d roja.png" alt="imagen burrito">
                        <input type="number"placeholder="0" required id="rojo">
                    </div>
                    <div class= "burrito">
                        <h3>Deshebrada verde</h3>
                        <img src="../../static/public/burritos/d verde.png" alt="imagen burrito">
                        <input type="number" placeholder="0" required id="verde">
                    </div>
                </div>
            <h2>Refrescos</h2>
                <div class="sodas">
                    <div class= "soda">
                        <h3>coca-cola</h3>
                        <img src="../../static/public/sodas/coca.png" alt="imagen soda">
                        <input type="number" placeholder="0" required id="coca">
                    </div>
                    <div class= "soda">
                        <h3>Sprite</h3>
                        <img src="../../static/public/sodas/sprite.png" alt="imagen soda">
                        <input type="number" placeholder="0" required id="sprite">
                    </div>
                    <div class= "soda">
                        <h3>Squirt</h3>
                        <img src="../../static/public/sodas/squirt.png" alt="imagen soda">
                        <input type="number" placeholder="0" required id="squirt">
                    </div>
                    <div class= "soda">
                        <h3>Manzanita</h3>
                        <img src="../../static/public/sodas/manzana.png" alt="imagen soda">
                        <input type="number"placeholder="0" required id="manzanita">
                    </div>
                    <div class= "soda">
                        <h3>Mirinda</h3>
                        <img src="../../static/public/sodas/mirinda.png" alt="imagen soda">
                        <input type="number" placeholder="0" required id="mirinda">
                    </div>
                </div>
                <h2>Extras</h2>
                <div class="extras">
                    <div class= "extra">
                        <h3>Salsa</h3>
                        <img src="../../static/public/extra/salsas.png" alt="imagen salsa">
                        <input type="number" placeholder="0" required id="salsa">
                    </div>
                    <div class= "extra">
                        <h3>Chile curtido</h3>
                        <img src="../../static/public/extra/curtido.png" alt="imagen chile curtido">
                        <input type="number" placeholder="0" required id="curtido">
                    </div>
                    <div class= "extra">
                        <h3>Queso</h3>
                        <img src="../../static/public/extra/queso.png" alt="imagen queso">
                        <input type="number" placeholder="0" required id="queso">
                    </div>
                </div>


            <div class="datos">
                <label for="">Datos cliente:</label>
                <input type="text" placeholder="Nombre" id="nombre">
                <input type="tel" placeholder="Telefono" id="telefono">
            </div>

            <div class="botones">
                <button type="submit" id="agregarBtn">Agregar</button>
                <button type="reset" id="eliminarBtn">Eliminar</button>
            </div>

        </form>
    </div>
    <script src="../../static/empleado/orden.js"></script>
    
</body>
</html>