<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burritos El Cuate</title>
    <link rel="stylesheet" href="../static/public/index.css">
   
</head>
<body>
    <div class="principal">
        <header>
            <h1>Burritos El Cuate</h1>
            <img src="../static/public/burrito-removebg-preview.png" alt="imagen burritos">
        </header>

        <form action="">
            <input type="text" placeholder="Usuario" id="usuario">
            <input type="password" placeholder="Contraseña" id="contraseña">
            <button id="entrar" type="submit">Entrar</button>
        </form>
    </div>
    <script src="../static/public/index.js"></script>
    
</body>
</html>