*{
    box-sizing: border-box; /* Incluye padding y border dentro del ancho y alto especificados */
}

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FF204E;
    height: 100%;
    width: 100%;
}
h1{
    font-size: 3rem;
    color: black;
    font-weight: bold;
}
h2{
    font-size: 2rem;
    color: black;
    font-weight: bold;
    padding-left: 2%;
}

.burritos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;

}
.burrito{
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Espacia los elementos de manera uniforme a lo largo del eje principal */
    align-items: center; /* Centra los elementos a lo largo del eje transversal */
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px; /* Añade un poco de relleno alrededor de los elementos para darles más espacio */
    background-color: #5D0E41;
}
.burrito img{
    height: 80px;
    width: 100px;
}
.burrito h3{
    font-size: 1.5rem;
    font-weight: bold;
}

.sodas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    

}
.soda{
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Espacia los elementos de manera uniforme a lo largo del eje principal */
    align-items: center; /* Centra los elementos a lo largo del eje transversal */
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px; /* Añade un poco de relleno alrededor de los elementos para darles más espacio */
    background-color: #5D0E41;
}
.soda img{
    height: 100px;
    width: 100px;
}
.soda h3{
    font-size: 1.5rem;
    font-weight: bold;
}


.extras{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    

}
.extra{
    display: flex;
    flex-direction: column;
    justify-content: space-around; /* Espacia los elementos de manera uniforme a lo largo del eje principal */
    align-items: center; /* Centra los elementos a lo largo del eje transversal */
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px; /* Añade un poco de relleno alrededor de los elementos para darles más espacio */
    background-color: #5D0E41;
    
}
.extra img{
    height: 100px;
    width: 100px;
}
.extra h3{
    font-size: 1.5rem;
    font-weight: bold;
}


label{
    font-size: 2rem;
    font-weight: bold;
}

form{
    height: 90%;
    width: 100%;
    padding: 2%;
}



.datos{
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 2%;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
button{
    border-radius: 10px;
    min-width: 25%;
    min-height: 2rem;
    font-size: 20px;
    background-color: #00224D;
    color: white;
    cursor: pointer;
}

input{
    border-radius: 10px;
    max-width: 50%;
    min-width: 25%;
    min-height: 2rem;
}
.botones a{
    text-decoration: none;
    color: white;
}
