/* Estilos generales para el body y el nav */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
}

nav {
    background-color:#00224D ; /* Color de fondo del menú */
    width: 100%; /* Se extiende a lo largo del ancho completo de la ventana */
    display: flex;
    justify-content: center; /* Centra los elementos del menú horizontalmente */
    align-items: center; /* Alinea verticalmente los elementos del menú */
}

ul {
    list-style: none; /* Elimina los estilos de lista predeterminados */
    display: flex; /* Muestra los elementos de la lista en línea */
    width: 100%; /* Extiende la lista a lo largo del ancho completo del nav */
    justify-content: space-around; /* Distribuye el espacio entre los elementos uniformemente */
    padding: 0; /* Elimina el padding predeterminado */
    margin: 0; /* Elimina el margin predeterminado */
}

li {
    display: flex; /* Permite que los elementos de la lista se manejen como cajas flexibles */
    align-items: center; /* Alinea verticalmente el contenido de cada elemento de la lista */
}

li img {
    height: 50px; /* Altura del logo para que no sea demasiado grande o pequeño */
}

a {
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: white; /* Color del texto para los enlaces */
    font-family: Arial, Helvetica, sans-serif; /* Tipo de letra para los enlaces */
    font-size: 1.5rem; /* Tamaño de fuente para los enlaces */
    padding: 10px 20px; /* Padding para hacer los enlaces más clickeables */
}

/* Cambia el color de fondo de los enlaces al pasar el mouse */
a:hover {
    background-color: black;
    transition: background-color 0.3s ease;
}
