<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar o eliminar usuarios</title>
    <link rel="stylesheet" href="../../static/public/menu.css">
    <link rel="stylesheet" href="../../static/public/tablas.css">
</head>
<body>
    <div class="menu">
        <nav>
            <ul>
                <li>
                    <a href="">Burritos el cuate</a>
                    <img src="../../static/public/burrito-removebg-preview.png" alt="" />
                </li>
                <li><a href="http://127.0.0.1:5000/admin/usuarios">Usuarios</a></li>
                <li><a href="http://127.0.0.1:5000/admin/ventas">Ventas</a></li>
                <li><a href="http://127.0.0.1:5000/sesion">Salir</a></li>
            </ul>
        </nav>
    </div>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Email</th>
                <th>Contraseña</th>
                <th>Tipo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Las filas se agregarán aquí -->
        </tbody>
    </table>

    <script src="../../static/admin/eusr.js"></script>
</body>
</html>
