<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas</title>
    <link rel="stylesheet" href="../../static/public/menu.css">
    <link rel="stylesheet" href="../../static/public/tablas.css">
</head>
<body>
    <div class="menu">
        <nav>
          <ul>
            <li>
              <a href="">Burritos el cuate</a
              ><img src="../../static/public/burrito-removebg-preview.png" alt="" />
            </li>
            <li><a href="http://127.0.0.1:5000/admin/usuarios">Usuarios</a></li>
            <li><a href="http://127.0.0.1:5000/admin/ventas">Ventas</a></li>
            <li><a href="http://127.0.0.1:5000/sesion">Salir</a></li>
          </ul>
        </nav>
      </div>
      <input type="date" id="fecha">
      <button id="buscarFecha">Buscar</button>
    <table>
        <tr>
            <th>Fecha</th>
            <th>Orden</th>
            <th>Cliente</th>
            <th>Total</th>
        </tr>
        
    </table>
    <h2 id="totalSuma">Ventas totales del dia: $0</h2>
    <script src="../../static/admin/ventas.js"></script>
    
</body>
</html>